html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: "sans-serif";
    background-color: #EEEEEE;
    color: #222222;
  }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }